.example {
  background-color: #eaeaea;
  padding: 0 20px 36px 20px;

  @media (min-width: @tablet-width) {
    padding: 21px 30px 97px;
    background-image: linear-gradient(to bottom, #ffffff 57%, #f2f2f2 57%);
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    background-image: linear-gradient(to bottom, #ffffff 25%, #f2f2f2 25%);
  }
}

.example__container {
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.example__column {
  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
  }
}

.example__text {
  .text;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin: 68px 0;
    width: 476px;
  }
}

.example__title {
  .title;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-bottom: 76px;
  }
}

.example__photo {
  position: relative;
  display: flex;
  flex-direction: inherit;

  @media (min-width: @tablet-width) {
    justify-content: center;
    gap: 2px;
  }

  @media (min-width: @desktop-width) {
    height: 512px;
    width: 560px;
    margin-top: 24px;
  }
}

.example__photo-wrapper {
  width: 50%;
  overflow: hidden;
}

.example__curtain {
  .color(@gray-special);
  position: absolute;
  width: 4px;
  height: 100%;
  right: 49%;
}

.example__img--after {
  right: 0;
  position: absolute;
}
