.fieldset-extra {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  border: none;

  @media (min-width: @desktop-width) {
    padding-bottom: 50px;
  }
}

.fieldset-extra__title {
  margin-bottom: 34px;
}
