.fieldset-commentary {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
  }
}

.fieldset-commentary__title {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 88px;
  }
}



.fieldset-commentary__textarea {
  .input-label;
  border: 1px solid #E7E7E7;
  height: 135px;
  padding: 13px 10px 0 15px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 70px;
    padding: 11px 10px 0 19px;
    height: 163px;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 10px 0 20px;
    margin: 0 auto;
    width: 1220px;
  }
}
