.fieldset-commentary {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 19px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.fieldset-commentary__title {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.fieldset-commentary__textarea {
  .input-label;
  border: 1px solid #e7e7e7;
  height: 135px;
  padding: 13px 10px 0 15px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 70px;
    padding: 11px 10px 0 19px;
    height: 163px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1180px;
    padding: 9px 20px 0 20px;
  }
}
