.fieldset-owner {
  border: none;
  margin: 24px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 60px 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.fieldset-owner__list {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    gap: 22px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    flex-direction: row;
    gap: 90px;
  }
}

.fieldset-owner__title {
  margin-top: 26px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 66px;
  }
}

.fieldset-owner__item {

}
