.gift {
  padding: 0 20px;
  margin-top: 34px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-top: 68px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 20%;
  }
}

.gift__container {
  position: relative;
  height: 290px;
  width: 100%;
  background-image: image-set(
      url("../img/gift-background-m.webp") type("image/webp") 1x,
      url("../img/gift-background-m@2x.webp") type("image/webp") 2x,
      url(../img/gift-background-m.jpg) type("image/jpg") 1x,
      url(../img/gift-background-m@2x.jpg) type("image/jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    height: 200px;
    background-image: url(../img/gift-background-t.jpg);
    background-image: image-set(
      url("../img/gift-background-t.webp") type("image/webp") 1x,
      url("../img/gift-background-t@2x.webp") type("image/webp") 2x,
      url(../img/gift-background-t.jpg) type("image/jpg") 1x,
      url(../img/gift-background-t@2x.jpg) type("image/jpg") 2x
    );
  }

  @media (min-width: @desktop-width) {
    height: 288px;
    background-image: image-set(
      url("../img/gift-background-d.webp") type("image/webp") 1x,
      url("../img/gift-background-d@2x.webp") type("image/webp") 2x,
      url(../img/gift-background-d.jpg) type("image/jpg") 1x,
      url(../img/gift-background-d@2x.jpg) type("image/jpg") 2x
    );
  }
}

.gift__wrapper {
  background-color: @green-bg;
  width: 100%;
  height: inherit;
  position: absolute;
}

.gift__description {
  color: #ffffff;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: relative;
  padding: 187px 61px 43px 58px;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/icon-gift.svg") no-repeat 0 0;
    width: 78px;
    height: 80px;
    top: 20%;
    left: 36%;
    padding: 184px 40px 20px;

    @media (min-width: @tablet-width) {
      padding: 0;
      left: 11%;
      top: 29%;
    }

    @media (min-width: @desktop-width) {
      top: 19%;
      left: 34%;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 72px 106px 68px 422px;
    text-align: start;
    width: 180px;
  }

  @media (min-width: @desktop-width) {
    padding: 185px 30px 43px 34px;
  }
}
