.htmlacademy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lato", "Arial", sans-serif;
  margin-top: 16px;
  color: #444444;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    gap: 23px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.htmlacademy-logo-svg {
  color: #666666;
}

.htmlacademy-logo:hover svg,
.htmlacademy-logo:focus svg {
  color: #68b738;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}
