.main-footer__container {
  .color(@gray);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

.address {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    padding: 61px 70px;
  }
}

.address__title {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;
  @media (min-width: @tablet-width) {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  .text;
  line-height: 20px;
  margin: 0;
  max-width: 140px;
  @media (min-width: @tablet-width) {
    max-width: 157px;
    font-size: 16px;
    line-height: 24px;
  }
}

.main-footer__social {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 20px 0;
  @media (min-width: @tablet-width) {
    padding: 0 120px 0 160px;
  }
  &::after {
    background-color: #d9d9d9;
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    bottom: -21px;
    right: 0;
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
  &::before {
    background-color: #d9d9d9;
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    bottom: 45px;
    right: 0;
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.htmlacademy-logo {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  font-family: "Lato";
  @media (min-width: @tablet-width) {
    gap: 23px;
    margin-top: 20px;
  }
}
