.other-products {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.other-products__title {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }
}

.other-products__container {
  @media (min-width: @desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 85px;
  }
}

.other-products__list {
  .list-reset;
  margin: 0 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    min-width: 896px;
  }
}

.other-products__item {
  padding: 12px 0 19px 0;
  border-top: 1px solid #cdcdcd;
  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 26px 38px 28px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 0;
    justify-content: space-between;
    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.other-products__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding: 25px 0;
    gap: 165px;
  }
}

.other-products__name {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 161px;
  }

  @media (min-width: @desktop-width) {
    min-width: 161px;
    margin: 0;
  }
}

.other-products__description {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 223px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    gap: 112px;
    width: unset;
  }
}

.other-products__description span {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.other-products__amount {
  @media (min-width: @tablet-width) {
    width: 131px;
    text-align: end;
  }
}
