.page-form__title {
  margin-bottom: 38px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 75px auto 55px;
    width: 1220px;
  }
}

.page-form__text {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    min-width: 323px;
    margin-left: 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 66px;
    width: 1220px;
    max-width: unset;
  }
}
