.page-form__title {
  margin-bottom: 38px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 75px 110px 55px;
  }
}

.page-form__text {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    min-width: 323px;
    margin-left: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-bottom: 66px;
  }
}
