.plans {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px 45px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 71px;
  }
}

.plans__list {
  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    width: 1220px;
  }
}
