.promo {
  text-align: center;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 526px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 111px;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: calc(100% + 32px);
      background: url("../img/index-background-d.jpg") no-repeat right;
      top: -17%;
      background-size: cover;

      @media (min-width: @desktop-width) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: @desktop-width) and (min-resolution: 144dpi), (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
        background: url("../img/index-background-d@2x.jpg");
      }
    }
  }
}

.promo__block {
  @media (min-width: @tablet-width) {
    padding: 0 90px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-bottom: 152px;
    padding-left: 158px;
    min-height: 400px;
  }
}

.promo__container {
  padding-bottom: 137px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 auto 52px;
    width: 1220px;
  }

  &::after {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/index-can-m.png") no-repeat center;
    z-index: 10;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/index-can-m@2x.png") no-repeat center;
    }

    @media (min-width: @tablet-width) {
      background: url("../img/index-can-t.png") no-repeat center;
      width: 709px;
      height: 609px;
      bottom: 0;
      top: 200px;
      z-index: 5;
    }

    @media (min-width: @tablet-width) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: @tablet-width) and (min-resolution: 144dpi), (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
      background: url("../img/index-can-t@2x.png") no-repeat center;
    }

    @media (min-width: @desktop-width) {
      background: url("../img/index-can-d.png") no-repeat center;
      width: 552px;
      height: 499px;
      top: -80px;
      margin-left: 35px;
    }

    @media (min-width: @desktop-width) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: @desktop-width) and (min-resolution: 144dpi), (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
      background: url("../img/index-can-d@2x.png");
    }
  }
}

.promo__wrapper {
  padding: 27px 0 0 0;
  margin: 0 auto;
  background-color: #69a545;
  padding-bottom: 163px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: transparent;
    max-width: 452px;
    margin: 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/index-background-m.jpg") no-repeat center top;
    background-size: auto 100%;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/index-background-m@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background: none;
    }
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.promo__title {
  color: @white;
  margin: 0 auto;
  margin-bottom: 26px;
  width: 282px;
  position: relative;
  z-index: 5;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: start;
    margin-bottom: 40px;
    width: auto;
  }
}

.promo__description {
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 5;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}

.promo__button {
  display: block;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    z-index: 10;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    position: relative;
    width: 192px;
  }
}
