.questionnaire__fieldset small {
  font-size: 14px;
  font-family: "Lato";
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.questionnaire__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    width: 1220px;
  }
}
