.color(@color) {
  background-color: @color;
}

.list-reset {
  list-style: none;
}

.text-underline {
  text-decoration: none;
}

.text {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.green-title-line {
  content: "";
  position: absolute;
  border-top: 2px solid #68b738;
  height: 1px;
  width: 100%;
  display: block;
}

.form-legend {
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.input-label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.product-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-features {
  color: #444444;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 28px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}
