.color(@color) {
  background-color: @color;
}

.list-reset {
  list-style: none;
}

.text-underline {
  text-decoration: none;
}

.text {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
