html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.instruction__list,
.result__list,
.main-nav__list,
.main-footer__social {
  .list-reset;
}

.nav-list__link,
.promo__button,
.plan__link {
  .text-underline;
}
